FirmAccountActivitySoap.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://odemeler.garanti.com.tr/" xmlns:intf="http://odemeler.garanti.com.tr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://odemeler.garanti.com.tr/">
<!--
WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)
-->
<wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://odemeler.garanti.com.tr/">
<complexType name="SecureToken">
<sequence>
<element name="UserId" nillable="true" type="xsd:string"/>
<element maxOccurs="1" minOccurs="0" name="Password" nillable="true" type="xsd:string"/>
<element name="CreateTimestamp" nillable="true" type="xsd:string"/>
<element name="Encoded" nillable="true" type="xsd:string"/>
</sequence>
</complexType>
<element name="FirmAccountActivity">
<complexType>
<sequence>
<element name="securetoken" type="impl:SecureToken"/>
<element name="FirmCode" nillable="true" type="xsd:string"/>
<element name="StartDate" nillable="true" type="xsd:string"/>
<element name="EndDate" nillable="true" type="xsd:string"/>
<element name="BranchNum" nillable="true" type="xsd:string"/>
<element name="AccountNum" nillable="true" type="xsd:string"/>
<element maxOccurs="1" minOccurs="0" name="IBAN" type="xsd:string"/>
<element name="TransactionId" nillable="true" type="xsd:string"/>
</sequence>
</complexType>
</element>
<complexType name="AccountActivityDetail">
<sequence>
<element name="ActivityDate" nillable="true" type="xsd:string"/>
<element name="Amount" nillable="true" type="xsd:string"/>
<element name="Balance" nillable="true" type="xsd:string"/>
<element name="Explanation" nillable="true" type="xsd:string"/>
<element name="TransactionId" nillable="true" type="xsd:string"/>
<element name="TransactionReferenceId" nillable="true" type="xsd:string"/>
<element maxOccurs="1" minOccurs="0" name="CorrBankNum" nillable="true" type="xsd:string"/>
<element maxOccurs="1" minOccurs="0" name="CorrBranchNum" nillable="true" type="xsd:string"/>
<element maxOccurs="1" minOccurs="0" name="CorrIBAN" nillable="true" type="xsd:string"/>
<element maxOccurs="1" minOccurs="0" name="CorrVKN" nillable="true" type="xsd:string"/>
</sequence>
</complexType>
<complexType name="FirmAccountDetail">
<sequence>
<element name="AccountName" nillable="true" type="xsd:string"/>
<element name="AccountType" nillable="true" type="xsd:string"/>
<element name="BranchNum" nillable="true" type="xsd:string"/>
<element name="AccountNum" nillable="true" type="xsd:string"/>
<element name="CurrencyCode" nillable="true" type="xsd:string"/>
<element name="IBAN" type="xsd:string"/>
<element name="OpenDate" nillable="true" type="xsd:string"/>
<element name="LastActivityDate" nillable="true" type="xsd:string"/>
<element name="Balance" nillable="true" type="xsd:string"/>
<element name="BlockedAmount" nillable="true" type="xsd:string"/>
<element name="AvailableBalance" nillable="true" type="xsd:string"/>
<element name="CreditLimit" nillable="true" type="xsd:string"/>
<element name="AvailableBalanceWithCredit" nillable="true" type="xsd:string"/>
<element maxOccurs="unbounded" minOccurs="0" name="AccountActivities" nillable="true" type="impl:AccountActivityDetail"/>
</sequence>
</complexType>
<element name="FirmAccountActivityResponse">
<complexType>
<sequence>
<element name="ReturnVal" nillable="true" type="xsd:string"/>
<element name="MessageText" nillable="true" type="xsd:string"/>
<element maxOccurs="1" minOccurs="0" name="CurrentDateTime" nillable="true" type="xsd:string"/>
<element maxOccurs="1" minOccurs="0" name="CustomerNum" nillable="true" type="xsd:string"/>
<element maxOccurs="unbounded" minOccurs="0" name="FirmAccounts" nillable="true" type="impl:FirmAccountDetail"/>
</sequence>
</complexType>
</element>
</schema>
</wsdl:types>
<wsdl:message name="FirmAccountActivityRequest">
<wsdl:part element="impl:FirmAccountActivity" name="FirmAccountActivity"></wsdl:part>
</wsdl:message>
<wsdl:message name="FirmAccountActivityResponse">
<wsdl:part element="impl:FirmAccountActivityResponse" name="FirmAccountActivityResponse"></wsdl:part>
</wsdl:message>
<wsdl:portType name="FirmAccountActivitySoap">
<wsdl:operation name="FirmAccountActivity" parameterOrder="FirmAccountActivity">
<wsdl:input message="impl:FirmAccountActivityRequest" name="FirmAccountActivityRequest"></wsdl:input>
<wsdl:output message="impl:FirmAccountActivityResponse" name="FirmAccountActivityResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="FirmAccountActivitySoapSoapBinding" type="impl:FirmAccountActivitySoap">
<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="FirmAccountActivity">
<wsdlsoap:operation soapAction="http://odemeler.garanti.com.tr/services/FirmAccountActivitySoap"/>
<wsdl:input name="FirmAccountActivityRequest">
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output name="FirmAccountActivityResponse">
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="FirmAccountActivity">
<wsdl:port binding="impl:FirmAccountActivitySoapSoapBinding" name="FirmAccountActivitySoap">
<wsdlsoap:address location="https://inboundrstintws.garanti.com.tr/services/FirmAccountActivitySoap"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>